@import "tailwindcss";

@font-face {
  font-family: Orbit;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../public/fonts/orbit-regular.woff2);
}

@font-face {
  font-family: Silkscreen;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../public/fonts/silkscreen-regular.woff2);
}

@font-face {
  font-family: Silkscreen;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../../public/fonts/silkscreen-bold.woff2);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-primary: #F34E4E;
  --color-secondary: #FFF6EA;
  --color-action: #7BB9FA;
  --color-accent: #D0D0D0;

  --font-orbit: "Orbit", sans-serif;
  --font-silkscreen: "Silkscreen", monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-orbit);
}
